* {
	margin: 0px;
	padding: 0px;
	line-height: 1.3em;
	font-family: sans-serif;
}


html {
	position: relative;
	height: 100vh
}
body {
	background: lightblue;
	padding: 50px 0;
}

.contentContainer {
	display: grid;
	grid-template-columns: 1fr[content-start] 6fr [content-end] 1fr;
}


.contentContainer > * {
	grid-column: content;
}

#container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}	

.card {
	padding: 30px ;
	margin: 15px;
	background: white;
	font-size: 1.4em;
	border-radius: 10px;
	box-shadow: 1px 1px 5px gray;
	border-left: 10px solid pink;

}

.btn {
	justify-self: center;
	margin: 20px;
}

button {
	padding: 15px 30px;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	background: white;
	box-shadow: 2px 2px 4px gray;
}

button:hover {
	cursor: pointer;
	background: #f4f4f4;
	box-shadow: 1px 1px 1px gray
}

.modal {
	margin: auto;
	max-width: 100ch;

.form{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	* {
		margin: 5px;
		padding: 5px;
	}
	label {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	input {
		border: 1px solid gray;
		border-radius: 10px;
		outline: none;
}
